@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We welcome you sincerely to our Amazing Adventure.</p>
    <div><a asp-page="StartUp" class="btn btn-outline-primary btn-lg">Start adventure</a></div>
</div>