@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Vítáme tě u naší hry, která bude o útěku z vězení. Už to nebudeme zdržovat, běž na to!</p>
    <div><a asp-page="StartUp" class="btn btn-outline-primary btn-lg">Start adventure</a></div>
</div>